* {
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

#game-board {
    margin-top: 20px;
}

#game-board table {
    border-collapse: collapse;
    border-spacing: 0;
}

#game-board table {
    padding: 0;
    margin: 0 auto;
    border: 2px solid #181818;
}

#game-board table tr td.square {
    width: 60px;
    height: 60px;
}

#game-board table tr td.square.red {
    background: #F55454;
}

#game-board table tr td.square.black {
    background: #747070;
}

.piece {
    height: 40px;
    width: 40px;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
    margin-left: 8px;
    margin-top: 5px;
}

.piece:hover {
    box-shadow: 0 0 2px 2px #fff;
    cursor: move;
}

.piece.red {
    background-color: red;
}

.piece.black {
    background-color: #3E404A;
}

.drag-pieces {
    margin-left: -200px;
    height: 0;
}
